.hero-section {
    height: 800px;
    position: relative;
    margin: 0 0 100px 0;
  
    .hero-slider {
      position: relative;
      z-index: 3;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  
    .hero-slider-wrp {
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      align-items: center;
    }
  
    &.hero-slider-next {
      display: block;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 4;
    }

    .hero-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .hero-title {
                margin: 0 0 20px;
                font-weight: 700;
                font-size: 80px;
                line-height: 98px;
                color: $white;
                letter-spacing: 0.1em;
            }
            
            .hero-text {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.3em;
                color: $white;
            }
    }
  
    .hero-pagination {
      width: 10px;
      height: 200px;
      position: absolute;
      top: 50%;
      right: 52px;
  
  
        .swiper-pagination-bullet {
            display: block;
            content: '';
            border-radius: 50%;
            border: 1px solid #FFFFFF;
            background-color: transparent;
            transition: background-color 0.7s;
        }
  
        .swiper-pagination-bullet+.swiper-pagination-bullet {
            margin-top: 40px;
        }
  
        .swiper-pagination-bullet-active {
            background-color: #fff;
        }
    }
      
    .scroll-down {
        opacity: 1;
        -webkit-transition: all .5s ease-in 3s;
        transition: all .5s ease-in 3s;
        position: absolute;
        bottom: 50px;
        left: 50%;
        margin-left: -16px;
        display: block;
        width: 40px;
        height: 40px;
        border: 1px solid $white;
        background-size: 14px auto;
        border-radius: 50%;
        z-index: 2;
        -webkit-animation: bounce 2s infinite 2s;
        animation: bounce 2s infinite 2s;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;

        &:before {
            position: absolute;
            top: calc(50% - 4px);
            left: calc(50% - 3px);
            transform: rotate(-45deg);
            display: block;
            width: 6px;
            height: 6px;
            content: "";
            border: 1px solid $white;
            border-width: 0px 0 1px 1px;
        }
    }
      
    @keyframes bounce {
        0%,
        100%,
        20%,
        50%,
        80% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-10px);
        }
        60% {
          transform: translateY(-5px);
        }
    }
}

@media (max-width: 1170px) {
    .hero-section {
        .hero-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}
  
@media(max-width: 768px) {
    .hero-section {
        .hero-title {
            font-size: 50px;
            line-height: 1.2;
            text-align: center;
        }
  
        .hero-text {
            font-size: 16px;
        }
    }
}
  
@media(max-width: 525px) {
    .hero-section {
        .hero-title {
            font-size: 30px;
            line-height: 1.2;
            text-align: center;
        }
  
        .hero-text {
            font-size: 15px;
            text-align: center;
        }
    }
}