$white: #fff;
$black: #000;
$accent: #7E5AFF;
$dark-blue: #2C4058;
$blue: #55B7FF;

$base-font-size: 18px;

$font-family: 'Montserrat';
$text-font-family: 'Open Sans';
$menu-font-family: 'Source Sans Pro';
$icon-font-family: 'icomoon';